In [1]:
from mysql import connector
connection = connector.connect(
    host = "localhost",
    user = "root",
    password = "root"
)
my_cursor=connection.cursor()
my_cursor

In [2]:
query = "create database if not exists PowerBi"
my_cursor.execute(query)

In [6]:
import pandas as pd
df = pd.read_csv(r"..\Data\ProductsData.csv")
table_name = "Products"

def to_sql(df):
    df = df.convert_dtypes()
    
    a = ",".join(f"{i.replace(" ","_")} {j}"
                 for i,j in zip(df.columns,df.dtypes)).replace("string","varchar(200)").replace("float64","float").replace("object","text").replace("Int64","int").replace("int64","int").replace("Float64","float") #replace dtypes from pandas to mysql
    
    query = f"create table if not exists {table_name} ({a})"
    my_cursor.execute(query)
def insert_data():
    for i in df.values:
        my_cursor.execute(f"insert into {table_name} values {tuple(i)}")
        connection.commit()
to_sql(df)
insert_data()

In [8]:
df = pd.read_csv(r"..\Data\CustomersData.csv")
table_name = "Customers"
# Creating table
to_sql(df)
# feeding/inserting the data into the table
insert_data()

In [10]:
df = pd.read_csv(r"..\Data\SalesData.csv")
table_name = "Sales"
# Creating table
to_sql(df)
# feeding/inserting the data into the table
insert_data()

In [12]:
df = pd.read_csv(r"..\Data\StoresData.csv")
table_name = "Stores"
# Creating table
to_sql(df)
# feeding/inserting the data into the table
insert_data()

In [8]:
df = pd.read_csv(r"..\Data\Exchange_Rates.csv")
table_name = "Exchange_Rates"
# Creating table
to_sql(df)
# feeding/inserting the data into the table
insert_data()